<div class='header'>
  <h1>Recipes</h1>
</div>

<div class='main-content'>
  <p class='recipe-title'>
    <%= @recipe.title %>
  </p>

  <p class='recipe-ingredients'>
    <%= @recipe.ingredients %>
  </p>

  <p class='recipe-instructions'>
    <%= @recipe.instructions %>
  </p>

  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
</div>
<div class='footer'>

</div>
